# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
.venv/
*.env
!*.env.example

# Node
node_modules/
dist/
dist-ssr/
.vite/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
